/******************************************************************/
/************************** DEFAULT *******************************/
/******************************************************************/
$appVersion: "1.0.0";

/******************************************************************/
/*************************** COLORS *******************************/
/******************************************************************/

$defaultTextColor: #000000;
$defaultLinkColor: $defaultTextColor;
$defaultLinkHoverColor: #30F010;

$backgroundPrimaryColor: #000000;
$backgroundSecondaryColor: #26004A;
$backgroundColorContainer: #eeeeee;

/******************************************************************/
/**************************** FONT ********************************/
/******************************************************************/
// Path relevant from www/css folder.
//$fontPath: "../fonts";

$defaultFont: "Helvetica Neue", "Helvetica", "Garamond", "Segoe UI", sans-serif;
$defaultHeaderFont: "Helvetica Neue", "Helvetica", "Garamond", "Segoe UI", sans-serif;;

// --------------------------------------------------
// Media queries breakpoints
// --------------------------------------------------


