/******************************************************************/
/************************** DEFAULT *******************************/
/******************************************************************/
$appVersion: "1.0.0";

/******************************************************************/
/*************************** COLORS *******************************/
/******************************************************************/

$defaultTextColor: #202020;
$defaultLinkColor: $defaultTextColor;
$defaultLinkHoverColor: #30F010;

$backgroundPrimaryColor: #e0e0e0;
$backgroundSecondaryColor: #26004A;
$backgroundColorContainer: #eeeeee;

/******************************************************************/
/**************************** FONT ********************************/
/******************************************************************/
// Path relevant from www/css folder.
//$fontPath: "../fonts";

$defaultFont: "futura-pt", "Helvetica Neue", "Helvetica", "Garamond", "Segoe UI", sans-serif;

$defaultHeaderFont: "futura-pt", "Helvetica Neue", "Helvetica", "Garamond", "Segoe UI", sans-serif;;

// --------------------------------------------------
// Media queries breakpoints
// --------------------------------------------------


