/*@media (min-width: $screen-lg) { */  

@media (min-width: 1200px) {
	div#container {
	    div#logo {
	    	height: 160px;
	    }
		.title {
			font-size: 105px;
			padding-top: 30px;
			letter-spacing: 12px;
			color: $defaultTextColor;
		}
	}

}




