/*@media (min-width: $screen-sm) { */  

@media (min-width: 480px) {
	div#container {
	    div#logo {
	    	height: 160px;
	    }
		.title {
			font-size: 72px;
			padding-top: 30px;
			letter-spacing: 6px;
			color: $defaultTextColor;
		}
	}

}




